/*
 * @Author: willhu
 * @Date: 2017-09-26 16:12:17
 * @Last Modified by: willhu
 * @Last Modified time: 2017-10-18 14:06:30
 */

$number: 24 !default;
@for $i from 1 through $number {
  .sp-col_xs-#{$i},
  .sp-col_sm-#{$i},
  .sp-col_md-#{$i},
  .sp-col_lg-#{$i} {
    position: relative;
    min-height: 1px;
    vertical-align: top;
  }
  .sp-col_offset-#{$i} {
    margin-left: percentage($i/$number);
  }
  .sp-col_xs-#{$i} {
    float: left;
    width: percentage($i/$number);
  }
  @media (min-width: 768px) {
    .sp-col_sm-#{$i} {
      float: left;
      width: percentage($i/$number);
    }
  }
  @media (min-width: 992px) {
    .sp-col_md-#{$i} {
      float: left;
      width: percentage($i/$number);
    }
  }
  @media (min-width: 1200px) {
    .sp-col_lg-#{$i} {
      float: left;
      width: percentage($i/$number);
    }
  }
}
