// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$add-icon-name: 'add-icon';
$add-icon-x: 231px;
$add-icon-y: 201px;
$add-icon-offset-x: -231px;
$add-icon-offset-y: -201px;
$add-icon-width: 10px;
$add-icon-height: 10px;
$add-icon-total-width: 267px;
$add-icon-total-height: 259px;
$add-icon-image: '~img/icons.png?1528786584368';
$add-icon: (231px, 201px, -231px, -201px, 10px, 10px, 267px, 259px, '~img/icons.png?1528786584368', 'add-icon', );
$block-icon16-name: 'block-icon16';
$block-icon16-x: 249px;
$block-icon16-y: 190px;
$block-icon16-offset-x: -249px;
$block-icon16-offset-y: -190px;
$block-icon16-width: 14px;
$block-icon16-height: 16px;
$block-icon16-total-width: 267px;
$block-icon16-total-height: 259px;
$block-icon16-image: '~img/icons.png?1528786584368';
$block-icon16: (249px, 190px, -249px, -190px, 14px, 16px, 267px, 259px, '~img/icons.png?1528786584368', 'block-icon16', );
$block-icon44-name: 'block-icon44';
$block-icon44-x: 0px;
$block-icon44-y: 113px;
$block-icon44-offset-x: 0px;
$block-icon44-offset-y: -113px;
$block-icon44-width: 44px;
$block-icon44-height: 44px;
$block-icon44-total-width: 267px;
$block-icon44-total-height: 259px;
$block-icon44-image: '~img/icons.png?1528786584368';
$block-icon44: (0px, 113px, 0px, -113px, 44px, 44px, 267px, 259px, '~img/icons.png?1528786584368', 'block-icon44', );
$bus-icon-name: 'bus-icon';
$bus-icon-x: 249px;
$bus-icon-y: 96px;
$bus-icon-offset-x: -249px;
$bus-icon-offset-y: -96px;
$bus-icon-width: 18px;
$bus-icon-height: 18px;
$bus-icon-total-width: 267px;
$bus-icon-total-height: 259px;
$bus-icon-image: '~img/icons.png?1528786584368';
$bus-icon: (249px, 96px, -249px, -96px, 18px, 18px, 267px, 259px, '~img/icons.png?1528786584368', 'bus-icon', );
$change-icon-name: 'change-icon';
$change-icon-x: 32px;
$change-icon-y: 201px;
$change-icon-offset-x: -32px;
$change-icon-offset-y: -201px;
$change-icon-width: 25px;
$change-icon-height: 20px;
$change-icon-total-width: 267px;
$change-icon-total-height: 259px;
$change-icon-image: '~img/icons.png?1528786584368';
$change-icon: (32px, 201px, -32px, -201px, 25px, 20px, 267px, 259px, '~img/icons.png?1528786584368', 'change-icon', );
$credent-delete-name: 'credentDelete';
$credent-delete-x: 20px;
$credent-delete-y: 245px;
$credent-delete-offset-x: -20px;
$credent-delete-offset-y: -245px;
$credent-delete-width: 13px;
$credent-delete-height: 13px;
$credent-delete-total-width: 267px;
$credent-delete-total-height: 259px;
$credent-delete-image: '~img/icons.png?1528786584368';
$credent-delete: (20px, 245px, -20px, -245px, 13px, 13px, 267px, 259px, '~img/icons.png?1528786584368', 'credentDelete', );
$credent-edit-name: 'credentEdit';
$credent-edit-x: 39px;
$credent-edit-y: 245px;
$credent-edit-offset-x: -39px;
$credent-edit-offset-y: -245px;
$credent-edit-width: 13px;
$credent-edit-height: 13px;
$credent-edit-total-width: 267px;
$credent-edit-total-height: 259px;
$credent-edit-image: '~img/icons.png?1528786584368';
$credent-edit: (39px, 245px, -39px, -245px, 13px, 13px, 267px, 259px, '~img/icons.png?1528786584368', 'credentEdit', );
$default-logo-name: 'default-logo';
$default-logo-x: 0px;
$default-logo-y: 78px;
$default-logo-offset-x: 0px;
$default-logo-offset-y: -78px;
$default-logo-width: 79px;
$default-logo-height: 29px;
$default-logo-total-width: 267px;
$default-logo-total-height: 259px;
$default-logo-image: '~img/icons.png?1528786584368';
$default-logo: (0px, 78px, 0px, -78px, 79px, 29px, 267px, 259px, '~img/icons.png?1528786584368', 'default-logo', );
$delete32-name: 'delete32';
$delete32-x: 38px;
$delete32-y: 163px;
$delete32-offset-x: -38px;
$delete32-offset-y: -163px;
$delete32-width: 32px;
$delete32-height: 32px;
$delete32-total-width: 267px;
$delete32-total-height: 259px;
$delete32-image: '~img/icons.png?1528786584368';
$delete32: (38px, 163px, -38px, -163px, 32px, 32px, 267px, 259px, '~img/icons.png?1528786584368', 'delete32', );
$dep-icon-default-name: 'dep-icon-default';
$dep-icon-default-x: 219px;
$dep-icon-default-y: 125px;
$dep-icon-default-offset-x: -219px;
$dep-icon-default-offset-y: -125px;
$dep-icon-default-width: 18px;
$dep-icon-default-height: 18px;
$dep-icon-default-total-width: 267px;
$dep-icon-default-total-height: 259px;
$dep-icon-default-image: '~img/icons.png?1528786584368';
$dep-icon-default: (219px, 125px, -219px, -125px, 18px, 18px, 267px, 259px, '~img/icons.png?1528786584368', 'dep-icon-default', );
$dep-icon-name: 'dep-icon';
$dep-icon-x: 135px;
$dep-icon-y: 201px;
$dep-icon-offset-x: -135px;
$dep-icon-offset-y: -201px;
$dep-icon-width: 18px;
$dep-icon-height: 18px;
$dep-icon-total-width: 267px;
$dep-icon-total-height: 259px;
$dep-icon-image: '~img/icons.png?1528786584368';
$dep-icon: (135px, 201px, -135px, -201px, 18px, 18px, 267px, 259px, '~img/icons.png?1528786584368', 'dep-icon', );
$download24-name: 'download24';
$download24-x: 219px;
$download24-y: 0px;
$download24-offset-x: -219px;
$download24-offset-y: 0px;
$download24-width: 24px;
$download24-height: 24px;
$download24-total-width: 267px;
$download24-total-height: 259px;
$download24-image: '~img/icons.png?1528786584368';
$download24: (219px, 0px, -219px, 0px, 24px, 24px, 267px, 259px, '~img/icons.png?1528786584368', 'download24', );
$erp-icon-default-name: 'erp-icon-default';
$erp-icon-default-x: 219px;
$erp-icon-default-y: 173px;
$erp-icon-default-offset-x: -219px;
$erp-icon-default-offset-y: -173px;
$erp-icon-default-width: 18px;
$erp-icon-default-height: 18px;
$erp-icon-default-total-width: 267px;
$erp-icon-default-total-height: 259px;
$erp-icon-default-image: '~img/icons.png?1528786584368';
$erp-icon-default: (219px, 173px, -219px, -173px, 18px, 18px, 267px, 259px, '~img/icons.png?1528786584368', 'erp-icon-default', );
$erp-icon-name: 'erp-icon';
$erp-icon-x: 63px;
$erp-icon-y: 201px;
$erp-icon-offset-x: -63px;
$erp-icon-offset-y: -201px;
$erp-icon-width: 18px;
$erp-icon-height: 18px;
$erp-icon-total-width: 267px;
$erp-icon-total-height: 259px;
$erp-icon-image: '~img/icons.png?1528786584368';
$erp-icon: (63px, 201px, -63px, -201px, 18px, 18px, 267px, 259px, '~img/icons.png?1528786584368', 'erp-icon', );
$forbidden32-name: 'forbidden32';
$forbidden32-x: 0px;
$forbidden32-y: 163px;
$forbidden32-offset-x: 0px;
$forbidden32-offset-y: -163px;
$forbidden32-width: 32px;
$forbidden32-height: 32px;
$forbidden32-total-width: 267px;
$forbidden32-total-height: 259px;
$forbidden32-image: '~img/icons.png?1528786584368';
$forbidden32: (0px, 163px, 0px, -163px, 32px, 32px, 267px, 259px, '~img/icons.png?1528786584368', 'forbidden32', );
$heart-icon-name: 'heart-icon';
$heart-icon-x: 50px;
$heart-icon-y: 113px;
$heart-icon-offset-x: -50px;
$heart-icon-offset-y: -113px;
$heart-icon-width: 42px;
$heart-icon-height: 40px;
$heart-icon-total-width: 267px;
$heart-icon-total-height: 259px;
$heart-icon-image: '~img/icons.png?1528786584368';
$heart-icon: (50px, 113px, -50px, -113px, 42px, 40px, 267px, 259px, '~img/icons.png?1528786584368', 'heart-icon', );
$icon-annoucement-name: 'icon-annoucement';
$icon-annoucement-x: 190px;
$icon-annoucement-y: 163px;
$icon-annoucement-offset-x: -190px;
$icon-annoucement-offset-y: -163px;
$icon-annoucement-width: 18px;
$icon-annoucement-height: 18px;
$icon-annoucement-total-width: 267px;
$icon-annoucement-total-height: 259px;
$icon-annoucement-image: '~img/icons.png?1528786584368';
$icon-annoucement: (190px, 163px, -190px, -163px, 18px, 18px, 267px, 259px, '~img/icons.png?1528786584368', 'icon-annoucement', );
$icon-best-activity-name: 'icon-best-activity';
$icon-best-activity-x: 249px;
$icon-best-activity-y: 168px;
$icon-best-activity-offset-x: -249px;
$icon-best-activity-offset-y: -168px;
$icon-best-activity-width: 18px;
$icon-best-activity-height: 16px;
$icon-best-activity-total-width: 267px;
$icon-best-activity-total-height: 259px;
$icon-best-activity-image: '~img/icons.png?1528786584368';
$icon-best-activity: (249px, 168px, -249px, -168px, 18px, 16px, 267px, 259px, '~img/icons.png?1528786584368', 'icon-best-activity', );
$icon-btn-go-name: 'icon-btn-go';
$icon-btn-go-x: 137px;
$icon-btn-go-y: 113px;
$icon-btn-go-offset-x: -137px;
$icon-btn-go-offset-y: -113px;
$icon-btn-go-width: 33px;
$icon-btn-go-height: 34px;
$icon-btn-go-total-width: 267px;
$icon-btn-go-total-height: 259px;
$icon-btn-go-image: '~img/icons.png?1528786584368';
$icon-btn-go: (137px, 113px, -137px, -113px, 33px, 34px, 267px, 259px, '~img/icons.png?1528786584368', 'icon-btn-go', );
$icon-btn-public-go-name: 'icon-btn-public-go';
$icon-btn-public-go-x: 98px;
$icon-btn-public-go-y: 113px;
$icon-btn-public-go-offset-x: -98px;
$icon-btn-public-go-offset-y: -113px;
$icon-btn-public-go-width: 33px;
$icon-btn-public-go-height: 34px;
$icon-btn-public-go-total-width: 267px;
$icon-btn-public-go-total-height: 259px;
$icon-btn-public-go-image: '~img/icons.png?1528786584368';
$icon-btn-public-go: (98px, 113px, -98px, -113px, 33px, 34px, 267px, 259px, '~img/icons.png?1528786584368', 'icon-btn-public-go', );
$icon-clock-name: 'icon-clock';
$icon-clock-x: 249px;
$icon-clock-y: 0px;
$icon-clock-offset-x: -249px;
$icon-clock-offset-y: 0px;
$icon-clock-width: 18px;
$icon-clock-height: 18px;
$icon-clock-total-width: 267px;
$icon-clock-total-height: 259px;
$icon-clock-image: '~img/icons.png?1528786584368';
$icon-clock: (249px, 0px, -249px, 0px, 18px, 18px, 267px, 259px, '~img/icons.png?1528786584368', 'icon-clock', );
$icon-custom-hover-name: 'icon-custom-hover';
$icon-custom-hover-x: 0px;
$icon-custom-hover-y: 245px;
$icon-custom-hover-offset-x: 0px;
$icon-custom-hover-offset-y: -245px;
$icon-custom-hover-width: 14px;
$icon-custom-hover-height: 14px;
$icon-custom-hover-total-width: 267px;
$icon-custom-hover-total-height: 259px;
$icon-custom-hover-image: '~img/icons.png?1528786584368';
$icon-custom-hover: (0px, 245px, 0px, -245px, 14px, 14px, 267px, 259px, '~img/icons.png?1528786584368', 'icon-custom-hover', );
$icon-custom-name: 'icon-custom';
$icon-custom-x: 142px;
$icon-custom-y: 78px;
$icon-custom-offset-x: -142px;
$icon-custom-offset-y: -78px;
$icon-custom-width: 14px;
$icon-custom-height: 14px;
$icon-custom-total-width: 267px;
$icon-custom-total-height: 259px;
$icon-custom-image: '~img/icons.png?1528786584368';
$icon-custom: (142px, 78px, -142px, -78px, 14px, 14px, 267px, 259px, '~img/icons.png?1528786584368', 'icon-custom', );
$icon-daily-activity-name: 'icon-daily-activity';
$icon-daily-activity-x: 219px;
$icon-daily-activity-y: 149px;
$icon-daily-activity-offset-x: -219px;
$icon-daily-activity-offset-y: -149px;
$icon-daily-activity-width: 18px;
$icon-daily-activity-height: 18px;
$icon-daily-activity-total-width: 267px;
$icon-daily-activity-total-height: 259px;
$icon-daily-activity-image: '~img/icons.png?1528786584368';
$icon-daily-activity: (219px, 149px, -219px, -149px, 18px, 18px, 267px, 259px, '~img/icons.png?1528786584368', 'icon-daily-activity', );
$icon-empty-info-name: 'icon-empty-info';
$icon-empty-info-x: 0px;
$icon-empty-info-y: 0px;
$icon-empty-info-offset-x: 0px;
$icon-empty-info-offset-y: 0px;
$icon-empty-info-width: 159px;
$icon-empty-info-height: 72px;
$icon-empty-info-total-width: 267px;
$icon-empty-info-total-height: 259px;
$icon-empty-info-image: '~img/icons.png?1528786584368';
$icon-empty-info: (0px, 0px, 0px, 0px, 159px, 72px, 267px, 259px, '~img/icons.png?1528786584368', 'icon-empty-info', );
$icon-help-new-normal-name: 'icon-help-new-normal';
$icon-help-new-normal-x: 249px;
$icon-help-new-normal-y: 144px;
$icon-help-new-normal-offset-x: -249px;
$icon-help-new-normal-offset-y: -144px;
$icon-help-new-normal-width: 16px;
$icon-help-new-normal-height: 18px;
$icon-help-new-normal-total-width: 267px;
$icon-help-new-normal-total-height: 259px;
$icon-help-new-normal-image: '~img/icons.png?1528786584368';
$icon-help-new-normal: (249px, 144px, -249px, -144px, 16px, 18px, 267px, 259px, '~img/icons.png?1528786584368', 'icon-help-new-normal', );
$icon-help-new-name: 'icon-help-new';
$icon-help-new-x: 249px;
$icon-help-new-y: 120px;
$icon-help-new-offset-x: -249px;
$icon-help-new-offset-y: -120px;
$icon-help-new-width: 16px;
$icon-help-new-height: 18px;
$icon-help-new-total-width: 267px;
$icon-help-new-total-height: 259px;
$icon-help-new-image: '~img/icons.png?1528786584368';
$icon-help-new: (249px, 120px, -249px, -120px, 16px, 18px, 267px, 259px, '~img/icons.png?1528786584368', 'icon-help-new', );
$icon-help-why-normal-name: 'icon-help-why-normal';
$icon-help-why-normal-x: 219px;
$icon-help-why-normal-y: 51px;
$icon-help-why-normal-offset-x: -219px;
$icon-help-why-normal-offset-y: -51px;
$icon-help-why-normal-width: 19px;
$icon-help-why-normal-height: 19px;
$icon-help-why-normal-total-width: 267px;
$icon-help-why-normal-total-height: 259px;
$icon-help-why-normal-image: '~img/icons.png?1528786584368';
$icon-help-why-normal: (219px, 51px, -219px, -51px, 19px, 19px, 267px, 259px, '~img/icons.png?1528786584368', 'icon-help-why-normal', );
$icon-help-why-name: 'icon-help-why';
$icon-help-why-x: 219px;
$icon-help-why-y: 76px;
$icon-help-why-offset-x: -219px;
$icon-help-why-offset-y: -76px;
$icon-help-why-width: 19px;
$icon-help-why-height: 19px;
$icon-help-why-total-width: 267px;
$icon-help-why-total-height: 259px;
$icon-help-why-image: '~img/icons.png?1528786584368';
$icon-help-why: (219px, 76px, -219px, -76px, 19px, 19px, 267px, 259px, '~img/icons.png?1528786584368', 'icon-help-why', );
$icon-manage-active-hover-name: 'icon-manage-active-hover';
$icon-manage-active-hover-x: 219px;
$icon-manage-active-hover-y: 101px;
$icon-manage-active-hover-offset-x: -219px;
$icon-manage-active-hover-offset-y: -101px;
$icon-manage-active-hover-width: 18px;
$icon-manage-active-hover-height: 18px;
$icon-manage-active-hover-total-width: 267px;
$icon-manage-active-hover-total-height: 259px;
$icon-manage-active-hover-image: '~img/icons.png?1528786584368';
$icon-manage-active-hover: (219px, 101px, -219px, -101px, 18px, 18px, 267px, 259px, '~img/icons.png?1528786584368', 'icon-manage-active-hover', );
$icon-manage-active-name: 'icon-manage-active';
$icon-manage-active-x: 159px;
$icon-manage-active-y: 201px;
$icon-manage-active-offset-x: -159px;
$icon-manage-active-offset-y: -201px;
$icon-manage-active-width: 18px;
$icon-manage-active-height: 18px;
$icon-manage-active-total-width: 267px;
$icon-manage-active-total-height: 259px;
$icon-manage-active-image: '~img/icons.png?1528786584368';
$icon-manage-active: (159px, 201px, -159px, -201px, 18px, 18px, 267px, 259px, '~img/icons.png?1528786584368', 'icon-manage-active', );
$icon-msgs-name: 'icon-msgs';
$icon-msgs-x: 183px;
$icon-msgs-y: 201px;
$icon-msgs-offset-x: -183px;
$icon-msgs-offset-y: -201px;
$icon-msgs-width: 18px;
$icon-msgs-height: 18px;
$icon-msgs-total-width: 267px;
$icon-msgs-total-height: 259px;
$icon-msgs-image: '~img/icons.png?1528786584368';
$icon-msgs: (183px, 201px, -183px, -201px, 18px, 18px, 267px, 259px, '~img/icons.png?1528786584368', 'icon-msgs', );
$icon-mycustom-name: 'icon-mycustom';
$icon-mycustom-x: 207px;
$icon-mycustom-y: 201px;
$icon-mycustom-offset-x: -207px;
$icon-mycustom-offset-y: -201px;
$icon-mycustom-width: 18px;
$icon-mycustom-height: 18px;
$icon-mycustom-total-width: 267px;
$icon-mycustom-total-height: 259px;
$icon-mycustom-image: '~img/icons.png?1528786584368';
$icon-mycustom: (207px, 201px, -207px, -201px, 18px, 18px, 267px, 259px, '~img/icons.png?1528786584368', 'icon-mycustom', );
$icon-tobedone-name: 'icon-tobedone';
$icon-tobedone-x: 0px;
$icon-tobedone-y: 227px;
$icon-tobedone-offset-x: 0px;
$icon-tobedone-offset-y: -227px;
$icon-tobedone-width: 18px;
$icon-tobedone-height: 12px;
$icon-tobedone-total-width: 267px;
$icon-tobedone-total-height: 259px;
$icon-tobedone-image: '~img/icons.png?1528786584368';
$icon-tobedone: (0px, 227px, 0px, -227px, 18px, 12px, 267px, 259px, '~img/icons.png?1528786584368', 'icon-tobedone', );
$icon-tools-name: 'icon-tools';
$icon-tools-x: 249px;
$icon-tools-y: 24px;
$icon-tools-offset-x: -249px;
$icon-tools-offset-y: -24px;
$icon-tools-width: 18px;
$icon-tools-height: 18px;
$icon-tools-total-width: 267px;
$icon-tools-total-height: 259px;
$icon-tools-image: '~img/icons.png?1528786584368';
$icon-tools: (249px, 24px, -249px, -24px, 18px, 18px, 267px, 259px, '~img/icons.png?1528786584368', 'icon-tools', );
$icon-user-default-name: 'icon-user-default';
$icon-user-default-x: 249px;
$icon-user-default-y: 48px;
$icon-user-default-offset-x: -249px;
$icon-user-default-offset-y: -48px;
$icon-user-default-width: 18px;
$icon-user-default-height: 18px;
$icon-user-default-total-width: 267px;
$icon-user-default-total-height: 259px;
$icon-user-default-image: '~img/icons.png?1528786584368';
$icon-user-default: (249px, 48px, -249px, -48px, 18px, 18px, 267px, 259px, '~img/icons.png?1528786584368', 'icon-user-default', );
$icon-user-name: 'icon-user';
$icon-user-x: 249px;
$icon-user-y: 72px;
$icon-user-offset-x: -249px;
$icon-user-offset-y: -72px;
$icon-user-width: 18px;
$icon-user-height: 18px;
$icon-user-total-width: 267px;
$icon-user-total-height: 259px;
$icon-user-image: '~img/icons.png?1528786584368';
$icon-user: (249px, 72px, -249px, -72px, 18px, 18px, 267px, 259px, '~img/icons.png?1528786584368', 'icon-user', );
$invite-icon-name: 'invite-icon';
$invite-icon-x: 0px;
$invite-icon-y: 201px;
$invite-icon-offset-x: 0px;
$invite-icon-offset-y: -201px;
$invite-icon-width: 26px;
$invite-icon-height: 20px;
$invite-icon-total-width: 267px;
$invite-icon-total-height: 259px;
$invite-icon-image: '~img/icons.png?1528786584368';
$invite-icon: (0px, 201px, 0px, -201px, 26px, 20px, 267px, 259px, '~img/icons.png?1528786584368', 'invite-icon', );
$jiantou-name: 'jiantou';
$jiantou-x: 249px;
$jiantou-y: 212px;
$jiantou-offset-x: -249px;
$jiantou-offset-y: -212px;
$jiantou-width: 8px;
$jiantou-height: 8px;
$jiantou-total-width: 267px;
$jiantou-total-height: 259px;
$jiantou-image: '~img/icons.png?1528786584368';
$jiantou: (249px, 212px, -249px, -212px, 8px, 8px, 267px, 259px, '~img/icons.png?1528786584368', 'jiantou', );
$menu-icon-name: 'menu-icon';
$menu-icon-x: 219px;
$menu-icon-y: 30px;
$menu-icon-offset-x: -219px;
$menu-icon-offset-y: -30px;
$menu-icon-width: 24px;
$menu-icon-height: 15px;
$menu-icon-total-width: 267px;
$menu-icon-total-height: 259px;
$menu-icon-image: '~img/icons.png?1528786584368';
$menu-icon: (219px, 30px, -219px, -30px, 24px, 15px, 267px, 259px, '~img/icons.png?1528786584368', 'menu-icon', );
$notice32-name: 'notice32';
$notice32-x: 152px;
$notice32-y: 163px;
$notice32-offset-x: -152px;
$notice32-offset-y: -163px;
$notice32-width: 32px;
$notice32-height: 32px;
$notice32-total-width: 267px;
$notice32-total-height: 259px;
$notice32-image: '~img/icons.png?1528786584368';
$notice32: (152px, 163px, -152px, -163px, 32px, 32px, 267px, 259px, '~img/icons.png?1528786584368', 'notice32', );
$notice45-name: 'notice45';
$notice45-x: 165px;
$notice45-y: 54px;
$notice45-offset-x: -165px;
$notice45-offset-y: -54px;
$notice45-width: 45px;
$notice45-height: 45px;
$notice45-total-width: 267px;
$notice45-total-height: 259px;
$notice45-image: '~img/icons.png?1528786584368';
$notice45: (165px, 54px, -165px, -54px, 45px, 45px, 267px, 259px, '~img/icons.png?1528786584368', 'notice45', );
$question32-name: 'question32';
$question32-x: 176px;
$question32-y: 113px;
$question32-offset-x: -176px;
$question32-offset-y: -113px;
$question32-width: 32px;
$question32-height: 32px;
$question32-total-width: 267px;
$question32-total-height: 259px;
$question32-image: '~img/icons.png?1528786584368';
$question32: (176px, 113px, -176px, -113px, 32px, 32px, 267px, 259px, '~img/icons.png?1528786584368', 'question32', );
$right32-name: 'right32';
$right32-x: 114px;
$right32-y: 163px;
$right32-offset-x: -114px;
$right32-offset-y: -163px;
$right32-width: 32px;
$right32-height: 32px;
$right32-total-width: 267px;
$right32-total-height: 259px;
$right32-image: '~img/icons.png?1528786584368';
$right32: (114px, 163px, -114px, -163px, 32px, 32px, 267px, 259px, '~img/icons.png?1528786584368', 'right32', );
$success-name: 'success';
$success-x: 165px;
$success-y: 0px;
$success-offset-x: -165px;
$success-offset-y: 0px;
$success-width: 48px;
$success-height: 48px;
$success-total-width: 267px;
$success-total-height: 259px;
$success-image: '~img/icons.png?1528786584368';
$success: (165px, 0px, -165px, 0px, 48px, 48px, 267px, 259px, '~img/icons.png?1528786584368', 'success', );
$supplier-icon-default-name: 'supplier-icon-default';
$supplier-icon-default-x: 111px;
$supplier-icon-default-y: 201px;
$supplier-icon-default-offset-x: -111px;
$supplier-icon-default-offset-y: -201px;
$supplier-icon-default-width: 18px;
$supplier-icon-default-height: 18px;
$supplier-icon-default-total-width: 267px;
$supplier-icon-default-total-height: 259px;
$supplier-icon-default-image: '~img/icons.png?1528786584368';
$supplier-icon-default: (111px, 201px, -111px, -201px, 18px, 18px, 267px, 259px, '~img/icons.png?1528786584368', 'supplier-icon-default', );
$supplier-icon-name: 'supplier-icon';
$supplier-icon-x: 87px;
$supplier-icon-y: 201px;
$supplier-icon-offset-x: -87px;
$supplier-icon-offset-y: -201px;
$supplier-icon-width: 18px;
$supplier-icon-height: 18px;
$supplier-icon-total-width: 267px;
$supplier-icon-total-height: 259px;
$supplier-icon-image: '~img/icons.png?1528786584368';
$supplier-icon: (87px, 201px, -87px, -201px, 18px, 18px, 267px, 259px, '~img/icons.png?1528786584368', 'supplier-icon', );
$tishi32-name: 'tishi32';
$tishi32-x: 76px;
$tishi32-y: 163px;
$tishi32-offset-x: -76px;
$tishi32-offset-y: -163px;
$tishi32-width: 32px;
$tishi32-height: 32px;
$tishi32-total-width: 267px;
$tishi32-total-height: 259px;
$tishi32-image: '~img/icons.png?1528786584368';
$tishi32: (76px, 163px, -76px, -163px, 32px, 32px, 267px, 259px, '~img/icons.png?1528786584368', 'tishi32', );
$view-check-script-name: 'view-check-script';
$view-check-script-x: 85px;
$view-check-script-y: 78px;
$view-check-script-offset-x: -85px;
$view-check-script-offset-y: -78px;
$view-check-script-width: 51px;
$view-check-script-height: 21px;
$view-check-script-total-width: 267px;
$view-check-script-total-height: 259px;
$view-check-script-image: '~img/icons.png?1528786584368';
$view-check-script: (85px, 78px, -85px, -78px, 51px, 21px, 267px, 259px, '~img/icons.png?1528786584368', 'view-check-script', );
$spritesheet-width: 267px;
$spritesheet-height: 259px;
$spritesheet-image: '~img/icons.png?1528786584368';
$spritesheet-sprites: ($add-icon, $block-icon16, $block-icon44, $bus-icon, $change-icon, $credent-delete, $credent-edit, $default-logo, $delete32, $dep-icon-default, $dep-icon, $download24, $erp-icon-default, $erp-icon, $forbidden32, $heart-icon, $icon-annoucement, $icon-best-activity, $icon-btn-go, $icon-btn-public-go, $icon-clock, $icon-custom-hover, $icon-custom, $icon-daily-activity, $icon-empty-info, $icon-help-new-normal, $icon-help-new, $icon-help-why-normal, $icon-help-why, $icon-manage-active-hover, $icon-manage-active, $icon-msgs, $icon-mycustom, $icon-tobedone, $icon-tools, $icon-user-default, $icon-user, $invite-icon, $jiantou, $menu-icon, $notice32, $notice45, $question32, $right32, $success, $supplier-icon-default, $supplier-icon, $tishi32, $view-check-script, );
$spritesheet: (267px, 259px, '~img/icons.png?1528786584368', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
