
body{
	text-align: center;
	// color: blue;
}
.icon-t{
	margin: 0 auto;
	background-color: pink;
}

.txt{
	transform: rotate(30deg);
}
.chart-con{
	width: 600px;
	margin: 10px auto;
	border: 1px solid gray;
}