@import "../../assets/_icons";

//vars
$indexBorderColor: #F2F2F2;
$indexBgOpacity: 0.70;
//link
$linkNormalColor: #208bff;
$linkHoverColor: #1770d8;
$linkSelectColor: #105bb4;
//gost-btn
$gostBtnNormalColor: #000;
$gostBtnNormalBorderColor: #999;
$gostBtnHoverColor: #dd2222;
$gostBtnSelectColor: #CC1111;

//index-card
.index-card{
    border-color: $indexBorderColor;
    margin-bottom: 20px;
}
.index-card .ivu-card-head{
    border-color: $indexBorderColor;
    padding: 8px 20px;
    color: #343434;
    font-weight: bold;
    background-color: #ECF5FC;
}
.index-card .ivu-card-extra{
    top: 7px;
}
.index-card a, .index-card a:visited, .index-card a:active{
    color: #333;
}
.index-card a:hover{
    color: #dd2222;
}
.index-card .activity-list-item .ivu-btn-primary{
    padding: 0;
    width: 84px;
    height: 22px;
    border-radius: 2px;
    margin-top: 16px;
}
.index-card .extra{
    position: absolute;
    right: 20px;
    top: 6px;
}
.index-card .extra a{
    &, &:visited{
        color: $linkNormalColor;
    }
    &:hover{
        color: $linkHoverColor;
    }
    &:active{
        color: $linkSelectColor;
    }
}
.ivu-btn-primary{
    border: none;
    &, &:visited{
        background-color: $linkNormalColor;
    }
    &:hover{
        background-color: $linkHoverColor;    
    }
    &:active{
        background-color: $linkSelectColor;
    }
}
//列表样式1
.activity-list-style1 .activity-list-item{
    border: 1px solid $indexBorderColor;
    padding: 9px;
    position: relative;
    margin: 10px 0px;
}
.activity-list-style1 .activity-list-item:nth-child(3n+2){
    margin-left: 10px;
    margin-right: 10px;
}
.activity-list-style1 .activity-list-item:nth-child(3n){
    margin-right: -20px;
}
.activity-list-style1 .activity-list-item .pic{
    float: left;
    height: 60px;
}
.activity-list-style1 .activity-list-item .pic img{
    width: 120px;
    height: 60px;
    background: url(./../../assets/img/default-logo.png) no-repeat center;
}
.activity-list-style1 .activity-list-item .info{
    float: left;
    height: 60px;
    overflow: hidden;
    padding-left: 15px;
    color: #333;
}
.activity-list-style1 .activity-list-item .info .title{
    line-height: 22px;
    height: 22px;
    a{
        color: #333;
        transition: none;
        display: inline-block;
        width: 240px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
.activity-list-style1 .activity-list-item .info .invalid-status a{
    max-width: 170px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.activity-list-style1 .activity-list-item .info .invalid{
    display: none;
    width: 54px;
    height: 18px;
    border-radius: 9px;
    background-color: #989898;
    color: #FFF;
    text-align: center;
    line-height: 18px;
    margin-left: 10px;
}
.activity-list-style1 .activity-list-item .info .invalid-status .invalid{
    display: inline-block;
    position: relative;
    top: -4px;
}
.activity-list-style1 .activity-list-item .info .other{
    margin-top: 14px;
    width: 240px;
    height: 18px;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.activity-list-style1 .activity-list-item .info .other i{
    display: inline-block;
    margin: 0 4px 0 2px;
}
.activity-list-style1 .activity-list-item .ivu-btn-primary{
    display: none;
}
//hover
.activity-list-style1 .activity-list-item:hover{
    .pic{
        position: relative;
        z-index: 2;
    }
    .info{
        position: absolute;
        left: 0;
        top: 0;
        right: 0px;
        height: 78px;
        background-color: #4C4C4C;
        // transition: background 0.5s;
    }
    .info .title{
        position: absolute;
        left: 147px;
        top: 8px;
        color: #FFF;
        z-index: 2;
    }
    .info .title a{
        color: #FFF;
    }
    .info .invalid{
        margin-left: 7px;
        margin-top: 3px;
    }
    .other{
        display: none;
    }
    .ivu-btn-primary{
        display: block;
        position: absolute;
        left: 145px;
        top: 30px;
        border: none;
        &, &:visited{
            background-color: $linkNormalColor;
        }
        &:hover{
            background-color: $linkHoverColor;    
        }
        &:active{
            background-color: $linkSelectColor;
        }
    }
}



//index
.index{
    padding-top: 20px;
}
.index .left-con{
    width: 900px;
    float: left;
}
.index .right-con{
    width: 340px;
    float: right;
}
.index .floor-list{
    clear: both;
}
.index .floor-list-item{
    
}
.index .activity-list-item{
    cursor: pointer;
}
.index .icon{
    display: inline-block;
    position: relative;
    bottom: -2px;
    margin-right: 5px;
}
.index .icon-activity{
    bottom: 0;
    margin-top: -9px;
    margin-bottom: -3px;
}

.index .activity-empty-info{
    text-align: center;
    color: #999;
    height: 74px;
    overflow: hidden;
    i{
        margin-right: 5px;
        @include sprite($icon-empty-info);
        vertical-align: middle;
        margin-bottom: 2px;
    }
    .txt{
        position: relative;
        bottom: -5px;
    }
}

//待办事项
.to-be-done .icon-activity{
    @include sprite($icon-tobedone);
    margin-bottom: 0;
}
.to-be-done .ivu-card-body{
    padding: 13px 20px 14px;
    background-image: url(~img/tobedone-bg.jpg);
    background-position: right bottom;
    background-repeat: no-repeat;
}
.to-be-done .bd-info {
    .bd-ul{

    }
    .bd-li{
        display: flex;
        align-items: center;
        span {
            vertical-align: middle;
        }
    }
    .bd-li:not(:last-child) {
        margin-bottom: 4px;
    }
    .a-box{
        display: inline-block;
        width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    a{
        color: #39f;
    }
    a:hover {
        color: #d22;
    }
    .num{
        color: #d22;
    }
}
//公告
.index .annoucement{
    margin-top: -10px;
    font-size: 14px;
}
.index .annoucement .icon-activity{
    @include sprite($icon-annoucement);
    margin-top: -6px;
}
.index .annoucement .ivu-card-body{
    padding: 6px 19px 10px;
    padding-bottom: 14px;
    height: 148px;
}
.index .annoucement li{
    height: 26px;
    line-height: 26px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-bottom: 1px solid #efefef;
}


//我的关注活动
.my-focus-activity .icon-activity{
    @include sprite($icon-mycustom);
}
.my-focus-activity .extra .icon{
    @include sprite($icon-custom);
}
.my-focus-activity .extra a:hover .icon{
    @include sprite($icon-custom-hover);
}
.my-scrollbar{
    max-height: 300px;
    .vue-scrollbar__scrollbar-horizontal{
        display: none;
    }
    .scroll-content{

    }
}
.daily-modal-list{

}
.daily-modal-list li{
    float: left;
    width: 164px;
    height: 68px;
    background-color: #F3F3F3;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 16px 15px;
    position: relative;
}
.daily-modal-list li:nth-child(3n){
    margin-right: 0;
}
.daily-modal-list li.daily-item-add{
    width: 68px;
    text-align: center;
    font-size: 50px;
    line-height: 30px;
    cursor: pointer;
}
.daily-modal-list li h5, .daily-modal-list li p{
    // width: 140px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.daily-modal-list li .opt{
    display: none;
    cursor: pointer;
}
.daily-modal-list li:hover .opt{
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(#000, $indexBgOpacity);
    text-align: center;
    padding-top: 18px;
}
.daily-modal-list li .opt .ivu-btn-ghost{
    background-color: #EFEFEF;
    margin-left: 10px;
}
.daily-modal-list .tip{
    clear: both;
}
.daily-item-form{
    border-top: 1px solid #f5f5f5;
    margin-top: 10px;
}
.daily-item-form h4{
    padding: 16px 0 8px;
}
.daily-item-form .ivu-input{
    border-radius: 2px;
}
.daily-item-form .ivu-form-item-error .ivu-input{
    &, &:hover{
        border-color: #f33;
    }
}
.daily-item-form .ivu-form-item-error-tip{
    color: #f33;
    left: 296px;
    top: 3px;
}
.daily-item-form .tip-input{
    padding-left: 10px;
}
.daily-item-form .ivu-form-item-error .tip-input{
    display: none;
}
.daily-item-form .ivu-form-item{
    margin-bottom: 12px;
}
.daily-item-form .form-btns{
    margin-top: 15px;
    padding-bottom: 40px;
}
.daily-item-form .ivu-btn-ghost{
    margin-left: 10px;
}
//日常活动
.daily-activity .icon-activity{
    @include sprite($icon-daily-activity);
}
.my-focus-activity .ivu-card-body, .daily-activity .ivu-card-body{
    padding: 0 20px;
    padding-right: 40px;
}
//精品活动
.best-activity .icon-activity{
    @include sprite($icon-best-activity);
}
.best-activity .ivu-card-body{
    padding: 0;
}
.best-activity .ivu-card-head{
    border: 0px;
}
.best-activity-list .best-activity-item{
    border: 1px solid $indexBorderColor;
    border-width: 1px 0 0 1px;
    height: 128px;
}
.best-activity-list .pic{
    height: 128px;
}
.best-activity-list .pic img{
    width: 100%;
    height: 100%;
}
.best-activity-list .info{
    display: none;
}
.best-activity-list .best-activity-item:hover .info{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 128px;
    background: rgba(#000, $indexBgOpacity);
    color: #FFF;
    text-align: center;
}
.best-activity-list .best-activity-item .title{
    font-size: 12px;
    font-weight: bold;
    height: 34px;
    line-height: 34px;
    border-bottom: 1px solid #707070;
}
.best-activity-list .best-activity-item .des{
    font-size: 12px;
    margin-top: 14px;
    max-height: 30px;
    line-height: 15px;
    overflow: hidden;
    padding: 0 40px;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 2;
    box-orient: vertical;
}

//工具推荐
.tools .icon-activity{
    @include sprite($icon-tools);
}
.tools-list li{
    display: inline-block;
    margin: 0 25px;
    text-align: center;
}
.tools-list li a{
    display: block;
}
.tools-list li img{
    width: 46px;
    height: 46px;
    border-radius: 3px;
}