/* button */
.btn {
	display:inline-block;
	padding: 3px 20px;
	margin-right: 8px;
	&.btn-check{
	
	}
	&.btn-new-active{

	}
	&.btn-empty{
		padding: 0;
		margin: 0;
		background-color: transparent;
		border:none;
		color:$globalColor;
	}
	&.btn-delete{
		color:$warnColor;
	}
	&[disabled]{
	    color: #c3cbd6;
	    background-color:transparent;
	}
}
.inline-btn{
	display:inline-block;
	height: 28px;
	line-height:28px;
	padding: 0 5px;
}
