.tab-wrap{
    &.ivu-tabs{
        &.ivu-tabs-card{
            .ivu-tabs-nav{
                padding-left: 20px;
                // icon
              .ivu-tabs-tab  .ivu-icon {
                    position:absolute;
                    top: 4px;
                    right: 0;
                    width: 10px;
                    height: 10px;
                    &.ivu-icon-has-new{
                        width: 25px;
                        height: 25px;
                        top: 0;
                        right: -16px;
                        border-radius: 50%;
                        background-color:$warnColor;
                        box-shadow:1px 1px 2px rgba(0,0,0,.5);
                        color: #fff;
                        text-align: center;
                        line-height: 25px;
                        font-size: 12px;
                        &::before{
                            display: none;
                            content: "";
                            position:absolute;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            background-color:$warnColor;
                            border-radius:50%;
                            box-shadow:1px 1px 2px rgba(0,0,0,.5);
                        }

                    }
                }
            }
            .ivu-tabs-tab {
                position: relative;
                display: inline-block;
                border-radius:0;
                margin: 0;
                border:none;
                padding-bottom: 2px;
                height: 40px;
                line-height: 30px;
                background-color:transparent;
                border: 1px solid transparent;
                border-top-width:2px;
                &.ivu-tabs-tab-active{
                    border: solid $borderGrayColor;
                    border-width:2px 1px 0 1px;
                    border-top-color:$borderNormalColor;
                    background-color:#fff;
                }
            }

        }
        
    }
    &.ivu-tabs.ivu-tabs-card>.ivu-tabs-bar .ivu-tabs-nav-container{
        // padding: 20px;
        height: auto;
    }
}