@import '../icons';
@import 'variable';
@import '_button';
@import "_tabs";
@import "_table";
i ,strong,em{
	font-style:normal;
}
.warn { 
	color: $warnColor;
}
.tab-wrap.over-show {
	//解决数据过少时，选择时间组件显示被影藏
	overflow: visible;
}
.active-manage,.active-enroll{
	display:block;
	margin-top: 20px;
	// overflow:hidden;
	.left-list-wrap{
		display: inline-block;
		width: 200px;
		background-color:#fff;
		float: left;
		border-radius:5px;
	}
	.right-content{
		display: inline-block;
		background-color:#fff;
		float: left;
		width:1038px;
		margin-left: 20px;
		border-radius:5px;
		padding: 20px 10px;
	}
}
.active-enroll{
	.right-content{
		padding-top: 0;
	}
}
// 固定样式
.location-right{
	position:absolute;
	right:0;
	top:50%;
	transform:translateY(-50%);
}
.float-right{
	float:right;
}
// 筛选样式
.filter-wrap{
	position: relative;
	display:block;
	// height: 50px;
	min-height:50px;
	padding-bottom: 10px;
	border-bottom:1px solid  $inputBorderColor;
	border-radius:2px;
	.filter-tab {
		display: block;
		padding: 10px 0;
		.filter-tab-title{
			display: block;
			width: 80px;
			padding: 6px 0;
			text-align:right;
	    line-height: 32px;
		}
		.filter-tab-con {
			display: block;
			padding: 6px 0;
			white-space: nowrap;
			.item {
				color: $normalfontColor;
				display: inline-block;
				padding: 5px;
				border: 1px solid #ccc;
				border-radius:6px;
				margin: 0 5px;
				&:hover,
				&.selected {
					color: #fff;
					background-color: $globalColor;
					border-color: $globalColor;
				}
			}
		}
	}
	.filter-item-wrap {
		display: block;
		clear: both;
		padding-left: 20px;
		padding-bottom: 10px;
		.wrap{
			display: inline-block;
		}
	}
	.ivu-form-inline {
		min-height: 40px;
		&::after{
			display: block;
			content:'';
			height: 0;
			clear: both;
		} 
		.ivu-form-item{
			float: left;
			&.action-wrap{
				position: absolute;
				right: 0;
				height: 100px;
			}
		}
	}
	.ivu-select-single{
		width:200px;
	}
	.wrap-inline{
		display: inline-block;
		height:34px;
		line-height: 34px;
		margin-left: 10px;
	}
}

.info-wrap{
	display: block;
	position:relative;
	white-space:nowrap;
	overflow:hidden;
	.item{
		display: inline-block;
		white-space: normal;
		vertical-align: top;
		&.img-wrap{
			position:relative;
			width: 80px;
			height: 60px;
		}
		&.des-wrap{
			width:100%;
		}
	}
	.extra-img {
		display: inline-block;
		.img-wrap{
			width: 60px;
			height: 60px;
			&:before{
				width: 60px;
				background-size:100%;
				margin-left: -30px;
			}
		}
	}
	.item .item-list{
		display: block;
		color:$globalColor;
		font-size: 12px;
		text-align: left;
		white-space: nowrap;
		&.ing{
			color: $ingColor;
		}
		&.outdate{
			color: $outOfDateColor;
		}
		&.notbegin{
			color: $notbeginColor;
		}
		&.location-center{
			text-align: center;
		}
		label{
			display: inline-block;
			margin-right: -2px;
			vertical-align: top;
			color:$normalfontColor;
		}
		.txt,.split{
			display: inline-block;
			margin-right: -4px;
			color:$normalfontColor;
		}
		.list-text{
			display: inline-block;
			vertical-align: top;
			white-space: nowrap;
			max-width: 160px;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			color:$normalfontColor;
			font-size: 12px;
			&.list-normal{
				color:$globalColor;
			}
		}
		.block-text{
			display: block;
			width: 80px;
			color:$normalfontColor;
			text-align: left;
			margin: 0 auto;
		}
	}
	>img{
		width: 100%;
	}
}
.view-img-wrap,.img-wrap{
	position:relative;
	&.default{
		// background-color:#f2f2f2;
		&::before{
			content: "";
			position:absolute;
			width: 80px;
			height: 30px;
			top: 50%;
			left: 50%;
			margin-left: -40px;
			margin-top: -15px;
			background-image:url(./../../assets/img/default-logo.png);
			background-repeat:no-repeat;
			z-index: 0;
		}
	}
	&.coupon-wrap.default {
		&:before{
			content:"券";
			position: absolute;
			width:100%;
			height:100%;
			left:0;
			right:0;
			top:0;
			bottom:0;
			text-align:center;
			font-size:40px;
			margin: 0;
			color:#fff;
			line-height:60px;
			background:pink;
		}
	}
	>img{
		width: 100%;
		position:absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
		z-index: 1;
	}
}
.ipt-item{
	display:inline-block;
	border-color:  $inputBorderColor;
	&.ipt-small{
		width: 120px;
	}
	&.ipt-mid{
		width: 150px;
	}
	&.ipt-tiny{
		width: 200px;
		.ivu-input-icon +.ivu-input{
			padding-right: 15px;
		}
	}
}
// .icon-active{
// 	@include sprite($icon-manage-active-hover);
	// 行内注释测试
// }
// 面包屑
.bread-nav-wrap{
	display: inline-block;
	width: 100%;
	height: 30px;
	line-height:30px;
}
.main-content{
	display:block;
	background-color:#fff;
	min-height:400px;
	padding-bottom: 40px;
	.main-content-title{
		display: block;
		padding: 25px 10px 15px 20px;
	}
	.title-wrap{
		white-space: nowrap;
		.item,.icon{
			display: inline-block;
			vertical-align: middle;
			color: $normalfontColor;
			font-size: 12px;	
		}
		.title{
			font-size: 18px;
		}
		.sub-title{
			font-size: 12px;
		}
		.icon-left-line{
			width: 4px;
			height: 18px;
			background-color:$globalColor;
		}
		.icon-star{
			color: $warnColor;
		}
	}
	.main-content-body{
		display: block;
		padding-left: 40px;
		.form-item{
			width: 100%;
		}
		.normal-ipt{
			display: inline-block;
			border-color:$inputBorderColor;
		}
		.remind-text{
			display: inline-block;
			padding-left: 10px;
		}
	}
	.img-wrap{
		display: block;
		background-color:#bcbcbc;
		width: 120px;
		height: 60px;
	}
	.inline-wrap{
		display: inline-block;
	}
}
.active-enroll .table-list-wrap .info-wrap{
	text-align:center;
}
.info-wrap{
	.check-status{
		position:relative;
		display: block;
		color: $buttonBorderColor;
		& + .icon{
			display: none;
			font-size: 20px;
			cursor: pointer;
		}
		&.status-success,&.status-on,&.status-before,&.status-fail,&.status-quit{
			padding-bottom: 5px;
			text-align:center;
			&+ .icon{
				display: block;
			}
		}
		&.status-fail{
			color: $warnColor;
		}
		&.status-on{
			color: $notbeginColor;
		}
		&.status-success{
			color:$ingColor;
		}
		&.status-before{
			color: $outOfDateColor;
		}
	}
}


//审核状态表
.active-enroll .ivu-tabs-content .audit-status-icon .ivu-icon{
    font-size: 20px;
    margin-top: 2px;
}
.active-enroll .mock-table{
    border: 1px solid #DBDBDB;
    border-width: 1px 0 0 1px;
    display: table;
}
.active-enroll  .mock-table .row{
    display:table-row;
}
.active-enroll  .mock-table .row.hd .cell{
    height: 30px;
    line-height: 30px;
}
.active-enroll  .mock-table .cell{
    display: table-cell;
    border: 1px solid #DBDBDB;
    border-width: 0px 1px 1px 0px;
    height: 40px;
    padding: 0 8px;
    text-align: center;
    vertical-align: middle;
}
.active-enroll  .mock-table .cell .wrap-line{
    display: block;
}
.active-enroll  .mock-table .time{
    width: 50px;
}

.table-list {
	position: relative;
	display:block;
	margin-top: 10px;
	.table-extra-action{
		display: block;
		min-height: 40px;
		.extra-checkbox{
			display: inline-block;
			float: left;
			vertical-align: middle;
		}
		.extra-operate{
			display: inline-block;
			float: right;
		}
	}
}
.ivu-tabs-tabpane{
	position: relative;
}




