@import "../_icons";
.user-setting {
	display: block;
	margin-top: 20px;
	overflow: hidden;
	.left-list-wrap {
		display: inline-block;
		width: 200px;
		background-color: #fff;
		float: left;
		border-radius: 5px;
	}
	.right-content {
		display: inline-block;
		width: 1038px;
		background-color: #fff;
		float: left;
		margin-left: 20px;
		border-radius: 5px;
		padding: 10px;
		.page-list-wrap {
			padding: 10px;
		}
	}
}

.create-contract-group {
	display: block;
	padding: 10px;
	overflow: hidden;
}

.float-right {
	float: right;
}

.table-list {
	display: block;
	padding-bottom: 20px;
	padding: 10px;
	.ivu-table-column-center a {
		margin-right: 5px;
	}
	.hover-erps {
		cursor: pointer;
	}
}


//新建联系组Modal样式
.custom-modal {
	.ivu-modal-content {
		.ivu-modal-header {
			background-color: #f4f5f5;
		}
		.ivu-modal-footer {
			text-align: center;
			display: none;
		}
	}
}
//erp icon
.icon-erp {
	@include sprite($erp-icon);
}
//用户组icon
.icon-dep {
	@include sprite($dep-icon);
}
// 商家
.icon-bus {
	@include sprite($bus-icon);
}
// 供应商
.icon-supplier {
	@include sprite($supplier-icon);
}
.icon{
    display: inline-block;
    position: relative;
    bottom: -2px;
    margin-right: 5px;
}
//Msgsetting-secondkill
.seckill-message {
	margin-top: 20px;
	.message-setting-list {
		margin-bottom: 20px;
		padding: 5px 10px;
		font-size: 13px;
	}
}

.contact-item-form {
	.ivu-put {
		border-radius: 2px;
	}
	.disabled.ivu-input-wrapper{
		.ivu-input{
			cursor: not-allowed;
			outline-color:#d7dde4;
			outline: none;
			box-shadow:none;
			border-color:#d7dde4;
			&:focus,&:hover{
				outline: none;
				box-shadow:none;
				outline-color:#d7dde4;
				border-color:#d7dde4;
			}
		}
	}
	.ivu-form-item-error-tip {
		color: #f33;
		left: 296px;
		top: 3px;
		line-height: 17px;
		word-break: break-word;
		max-height: 150px;
		overflow-y: hidden;
	}
	.tip-input {
		padding-left: 10px;
	}
	.ivu-form-item-error {
		.ivu-input {
			&, &:hover {
				border-color: #f33;
			}
		}
		.tip-input {
			display: none;
		}
	}
	.ivu-form-item {
		margin-bottom: 12px;
	}
	.form-btns {
		margin-top: 15px;
		padding-bottom: 40px;
	}
	.ivu-btn-ghost {
		margin-left: 10px;
	}
	.contact-member, .contact-department {
		height: 115px;
	}
	.contact-member {
		position: relative;
		margin-bottom: 10px;
	}
}
//新增分配对象弹窗样式
.tree-list{
   .ivu-tree{
       position: absolute;
       padding:0;
       top:34px;
       left:0;
       width:273px;
       max-height:350px;
       background-color:rgba(255,255,255,1);
       overflow-y:auto; 
       z-index: 1000;
       border:1px solid #d7dde4;
       border-top:0;
       li{
           margin: 4px 0;
       }
       a.ivu-tree-item-disabled{
           background-color:#fff;
           span{
               color:#d1d1d1;
           }
        }
    }
}

// 收品模板设置样式
.clearfix {
	&:after {
		content:"";
		clear: both;
		display: block;;
		width:0;
		height:0;
	}
}
.create-temp-title {
	display: block;
	padding: 10px;
	.title-left {
		display: inline-block;
		width: 60%;
		color: #999;
	}
	.title-right {
		float: right;
		display: inline-block;;
		max-width: 40%;
	}
}
//新建模板样式
.temp-item-form {
	.ivu-radio-wrapper {
		margin-right: 20px;
	}
	.bt {
		position: relative;
		margin-bottom: 15px;
		.ttt {
			position: relative;;
			display: inline-block;
			vertical-align: middle;
			text-align: right;
			font-size: 12px;
			padding: 10px 5px 10px 0;
			box-sizing: border-box;
			width: 9%;
			line-height: 1;
			&.title {
				padding-right:15px;
			}
		}
		.notice {
			margin-left: 10px;
			color: #999;
		}
	}
	.custom-template-tb {
		display: inline-table;
		vertical-align: top;
		width: 89%;
		border-right:1px solid #efefef;
        border-bottom:1px solid #efefef;
        table-layout: fixed;
        word-break: break-all;
        word-wrap: break-word;
        tr {
        	height: 40px;
        	text-align: center;
        	td {
        		width: 20%;
        		border-left:1px solid #efefef;
        		border-top:1px solid #efefef;
        		text-overflow: ellipsis;
        		white-space: nowrap;
        		overflow: hidden;
        		cursor: pointer;
        	}
        	a {
        		display: inline-block;
        		margin: 0 5px;
        	}
        }
        .th {
        	background-color: #f8f8f8;
        }
	}
	.ivu-col {
		margin-bottom: 10px;
	}
	.add-new-field {
		margin-left: 9%;
		margin-bottom: 15px;
	}
	.ivu-form-item {
		margin-bottom: 20px;
	}
	.ivu-radio-group {
		width: 70%;
	}
	.button-align {
		.ivu-btn {
			margin-right: 10px;
		}
	}
	.field-dataType {
		.ivu-form-item-error-tip {
			top: 90%;
		}
	}
	.image-wrap {
		width:145px;
		height:80px;
		margin-bottom: 10px;
		background-color:#f8f8f8;
		img{
			width:100%;
			height:100%;
		}
	}
	.error-field-list {
		margin: 0 50px 15px 50px;
		padding: 5px;
		border-radius: 5px 8px;
		border: 1px dashed red;
		li {
			display: inline-block;
			color: red;
			white-space: nowrap;
			text-overflow: ellipsis;
			width: 33.33%;
			overflow: hidden;
			padding-right: 15px;
			cursor: pointer;
			span {
				cursor: pointer;
			}
		}		
	}
}
.err-sign {
	&:before {
		content: "*";
		display: inline-block;
		margin-right: 4px;
		line-height: 1;
		font-family: SimSun;
		font-size: 12px;
		color: #f30;
	}
}

.popDialog-select {
	display: inline-block;
	width: 100px;
}

.select-activity {
	text-align: left;
	margin: 10px 0 20px 77px;
}

// 复用弹框-活动搜索
.popDialog-activity {
	display: inline-block;
	margin: 0 10px;
	width: 250px;
}

.blockChoiceLi {
	margin: 20px 0 20px 77px;
	.blockChoiceDiv {
		font-size: 14px;
		.blockChoiceCB {
			font-size: 14px;
			width: 348px;
		}
		.activity-id {
			display: inline-block;
			width: 80px;
		}
		.add-contacts-btn {
			width: 100px;
			margin-left: 105px;
		}
		.hidden {
			&:before {
				content: "▶";
				display: inline-block;
				width: 10px;
				margin-right: 4px;
				font-size: 12px;
				color: #77BAFF;
			}
		}
		.showing {
			&:before {
				content: "▼";
				width: 10px;
				display: inline-block;
				margin-right: 4px;
				font-size: 12px;
				color: #77BAFF;
			}
		}
	}
	.blockListC {
		margin: 0 0 10px 19px;
		max-height: 300px;
		overflow-y: scroll;
		.block-name {
			display: inline-block;
			width: 328px;
		}
		.block-id {
			display: inline-block;
			width: 80px;
			font-size: 12px;
		}
	}
	.search-block {
		margin: 10px 0 10px 19px;
		.select-label {
			display: inline-block;
			width: 100px;
		}
		.popDialog-block {
			display: inline-block;
			margin: 0 10px;
			width: 200px;
		}
	}
}

.ivu-checkbox-wrapper-disabled {
	pointer-events: none;
}

.popDialog-nav {
	height: 50px;
	background: #F0F0F0;
	.nav-left {
		position: relative;
		display: inline-block;
		left: 10%;
		top: 30%;
		font-size: 14px;
		font-weight: bold;
	}
	.nav-middle {
		position: relative;
		display: inline-block;
		left: 20%;
		top: 30%;
		font-size: 14px;
		font-weight: bold;
	}
	.nav-right {
		position: relative;
		display: inline-block;
		left: 35%;
		top: 30%;
		font-size: 14px;
		font-weight: bold;
		.globalCountStyle {
			display: inline-block;
			color: #39f;
		}
	}
}

.global-list {
	height: 300px;
	overflow-y: scroll;
	.loading-more-activity {
		font-size: 14px;
		margin-left: 384px;
	}
	.loading-more-block {
		font-size: 12px;
		margin-left: 282px;
	}
}

.blockChoiceStyle {
	text-align: center;
	color: red;
	font-size: 14px;
}

// 复用弹框-区块搜索
.popDialog-block {
	display: inline-block;
	width: 300px;
	
}

.ivu-modal-footer {
	text-align: center;
}
