/*
 * @Author: willhu
 * @Date: 2017-09-26 16:12:06
 * @Last Modified by: willhu
 * @Last Modified time: 2017-10-18 17:42:49
 */

.sp-row {
  &:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    font-size: 0;
  }
}

.sp-row_gutter {
  margin-left: -8px;
  margin-right: -8px;
  >.sp-col {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.sp-row_fluid {
  >.sp-col {
    float: left;
  }
}

.sp-row {
  .sp-col_right {
    float: right;
  }
}
