/*
 * @Author: willhu
 * @Date: 2017-10-17 17:44:58
 * @Last Modified by: willhu
 * @Last Modified time: 2017-10-19 11:39:45
 */

@import "../custom/variables.scss";
.sp-input {
  width: 100%;
  border: 1px solid $input-border-color;
  border-radius: $input-border-radius;
  padding: $input-padding-base;
  background-color: $input-bg-color;
  font-size: $input-font-size-base;
  vertical-align: middle;
  -webkit-appearance: none;
  color: inherit;
  transition: border-color .1s ease;
  &:hover {
    border-color: $input-border-color-hover;
  }
  &:focus {
    border-color: $input-border-color-focus;
    box-shadow: 0 0 3px $input-border-color-focus;
    outline: none;
  }
  &[disabled] {
    background-color: $border-bg-color;
    border-color: $split-color;
    color: $text-color-disabled;
    cursor: not-allowed;
  }
}

.sp-input_sm {
  @extend .sp-input;
  padding: $input-padding-sm;
  font-size: $input-font-size-sm;
}

.sp-input_lg {
  @extend .sp-input;
  padding: $input-padding-lg;
  font-size: $input-font-size-lg;
}

.sp-input_disabled {
  background-color: $border-bg-color;
  border-color: $split-color;
  color: $text-color-disabled;
  cursor: not-allowed;
}
