@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?bihj18');
  src:  url('fonts/icomoon.eot?bihj18#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?bihj18') format('truetype'),
    url('fonts/icomoon.woff?bihj18') format('woff'),
    url('fonts/icomoon.svg?bihj18#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-save:before {
  content: "\e900";
}
.icon-edit:before {
  content: "\e901";
}
.icon-menu:before {
  content: "\e902";
}
.icon-zoom-in:before {
  content: "\e903";
}
.icon-share:before {
  content: "\e904";
}
.icon-more:before {
  content: "\e905";
}
.icon-success:before {
  content: "\e906";
}
.icon-check:before {
  content: "\e907";
}
.icon-error:before {
  content: "\e908";
}
.icon-wrong:before {
  content: "\e909";
}
.icon-plus:before {
  content: "\e90a";
}
.icon-minus:before {
  content: "\e90b";
}
.icon-surprise:before {
  content: "\e90c";
}
.icon-cry:before {
  content: "\e90d";
}
.icon-calendar:before {
  content: "\e90e";
}
.icon-trashcan:before {
  content: "\e90f";
}
.icon-upload:before {
  content: "\e910";
}
.icon-upload2:before {
  content: "\e911";
}
.icon-arrow-up:before {
  content: "\e912";
}
.icon-settings:before {
  content: "\e913";
}
.icon-clock:before {
  content: "\e914";
}
.icon-search:before {
  content: "\e915";
}
.icon-info-darken:before {
  content: "\e916";
}
.icon-warning-darken:before {
  content: "\e917";
}
.icon-info-lighten:before {
  content: "\e918";
}
.icon-picture:before {
  content: "\e919";
}
.icon-file:before {
  content: "\e91a";
}
.icon-star-darken:before {
  content: "\e91b";
}
.icon-star-lighten:before {
  content: "\e91c";
}
.icon-arrow-down:before {
  content: "\e91d";
}
.icon-news:before {
  content: "\e91e";
}
.icon-smile:before {
  content: "\e91f";
}
.icon-question:before {
  content: "\e920";
}
.icon-arrow-right:before {
  content: "\e921";
}
.icon-arrow-right-double:before {
  content: "\e922";
}
.icon-arrow-left:before {
  content: "\e923";
}
.icon-arrow-left-double:before {
  content: "\e924";
}
.icon-triangle-down:before {
  content: "\e925";
}
.icon-triangle-left:before {
  content: "\e926";
}
.icon-triangle-right:before {
  content: "\e927";
}
.icon-triangle-up:before {
  content: "\e928";
}
.icon-check-large:before {
  content: "\e929";
}
.icon-sort:before {
  content: "\e92a";
}
