/*
 * @Author: willhu
 * @Date: 2017-10-12 17:32:54
 * @Last Modified by: willhu
 * @Last Modified time: 2017-11-28 11:13:17
 */

 @import "../custom/variables.scss";
.sp-btn {
  display:inline-block;
  padding: $button-padding-base;
  background-color: $border-bg-color;
  border: 1px solid $border-color;
  border-radius: $button-border-radius;
  color: $botton-color-default;
  vertical-align: middle;
  font-size: $button-font-size;
  font-weight:$button-font-weight;
  cursor: pointer;
  user-select: none;
  transition: background-color .1s ease, color .1s ease, border-color .1s ease;
  &:hover {
    background-color: $white;
    border-color: $primary-color-hover;
    color: $primary-color-hover;
  }
  &:active {
    background-color: $white;
    border-color: $primary-color-click;
    color: $primary-color-click;
  }
  &:focus {
    outline: none;
  }
  &[disabled]{
    background-color: $border-bg-color;
    border-color: $split-color;
    color: $text-color-disabled ;
    cursor: not-allowed;
    &:hover,
    &:active {
      background-color: $border-bg-color;
      border-color: $split-color;
      color: $text-color-disabled ;
      cursor: not-allowed;
    }
  }
  .sp-icon {
    position: relative;
    bottom: -1px;
    margin-right: 5px;
    color: inherit;
  }
}

.sp-btn_sm {
  padding: $button-padding-small;
  font-size: $button-font-size-small;
}

.sp-btn_lg {
  padding: $button-padding-large;
  font-size: $button-font-size-large;
}
.sp-btn_long {
  display: block;
}

.sp-btn_primary {
  background-color: $button-bg-primary;
  border-color: $button-border-primary;
  color: $botton-color-primary;
  &:hover {
    background-color: $primary-color-hover;
    border-color: $primary-color-hover;
    color: $white;
  }
  &:active {
    background-color: $primary-color-click;
    border-color: $primary-color-click;
    color: $white;
  }
}

.sp-btn_ghost {
  background-color: $button-bg-ghost;
  border-color: $button-border-ghost;
  color: $botton-color-ghost;
}
.sp-btn_transparent {
  background-color: transparent;
  border-color: transparent;
  color: $text-color;
  &:hover,
  &:active {
    border-color: transparent;
  }
}

.sp-btn_disabled {
  background-color: $border-bg-color;
  border-color: $split-color;
  color: $text-color-disabled ;
  cursor: not-allowed;
  &:hover,
  &:active {
    background-color: $border-bg-color;
    border-color: $split-color;
    color: $text-color-disabled ;
    cursor: not-allowed;
  }
}
