@import '../components/custom/variables.scss';
@import '../components/basic/index.scss';

.demo {
  padding: 20px;
}
.demo-row {
  margin-bottom: 1px;
}
.demo-col {
  height: 50px;
  line-height: 50px;
  background-color: $primary-color;
  text-align: center;
  color: #FFF;
  &:nth-child(2n) {
    background-color: $primary-color-hover;
  }
}

.demo-color {
  padding: 15px 0;
  border-radius:5px;
  text-align: center;
  color: #FFF;
}
.demo-primary {
  background-color: $primary-color;
}
.demo-primary_hover {
  background-color: $primary-color-hover;
}
.demo-primary_click {
  background-color: $primary-color-click;
}
.demo-color_notice {
  background-color: $notice-color ;
}
.demo-color_success {
  background-color: $success-color;
}
.demo-color_warning {
  background-color: $warning-color;
}
.demo-color_error {
  background-color: $error-color;
}

.demo-title-color  {
  background-color: $title-color;
}
.demo-text-color {
  background-color: $text-color;
}
.demo-text-color_tip {
  background-color: $text-color-tip;
}
.demo-text-color_disabled {
  background-color: $text-color-disabled;
}
.demo-border-color  {
  background-color: $border-color;
}

.demo-split-color  {
  background-color: $split-color;
  border: 1px solid $split-color;
  color: $text-color;
}
.demo-background-color {
  background-color: $border-bg-color;
  border: 1px solid $border-bg-color;
  color: $text-color;
}
.demo-background-color_light {
  background-color: $border-bg-color-light;
  border: 1px solid $border-bg-color-light;
  color: $text-color;
}
.demo-white {
  background-color: $white;
  border: 1px solid $border-color;
  color: $text-color;
}

.demo-table {
  width: 80%;
  th {
    background-color: $split-color;
    border: 1px solid $border-color;
  }
  td {
    padding: 3px;
    border: 1px solid $border-color;
    text-align: center;
  }
}


//wrapper
.demo-wrapper{
  width: 95%;
  margin: 20px auto 30px;
}
.demo-wrapper h1{
  text-align: center;
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 10px;
}
.demo-wrapper .demo-content{
  position: relative;
  &:after{
    content: '';
    display: table;
    clear: both;
  }
  &::before{
    content: '';
    display: block;
    position: absolute;
    left: 15%;
    top: 0px;
    bottom: 0px;
    width: 1px;
    background: #ccc;
  }
}
.demo-wrapper .content-col {
  float: left;
  flex: 0 0 auto;
  border: 1px solid #CCC;
  position: relative;
}
.demo-wrapper .left-bar{
  width: 15%;
  border-right: none;
}
.demo-wrapper .main-content{
  width: 85%;
  border-left: none;
  position: relative;
}
.demo-wrapper .left-bar li{
  height: 35px;
  line-height: 35px;
  padding-left: 15px;
  cursor: pointer;
  &:hover{
    background-color: #eee;
  }
  &.active{
    color: #fff;
    background-color: #209CFF;
  }
  span{
    display: block;
  }
}
